@import "colors.scss";

.osd {
  background-color: $surface-container;
  border: 2px solid $primary;
  border-radius: 12px;
  padding: 20px;
  
  .osd-icon {
    .icon {
      font-size: 32px;
      color: $primary;
      margin-bottom: 10px;
    }
  }
  
  .osd-progress {
    progress {
      background-color: $surface-variant;
      border-radius: 10px;
      
      trough {
        min-height: 8px;
        background-color: $surface-variant;
        border-radius: 10px;
      }
      
      bar {
        background-color: $primary;
        border-radius: 10px;
      }
    }
  }
}
