@define-color background          #141318;
@define-color on_background       #e5e1e9;

@define-color surface             #141318;
@define-color surface_dim         #141318;
@define-color surface_bright      #3a383e;
@define-color surface_container_lowest #0e0d13;
@define-color surface_container_low   #1c1b20;
@define-color surface_container       #201f25;
@define-color surface_container_high  #2b292f;
@define-color surface_container_highest #35343a;

@define-color primary             #c9bfff;
@define-color primary_container   #9b8ee8;
@define-color on_primary          #302176;
@define-color on_primary_container #080030;
@define-color primary_fixed       #e5deff;
@define-color primary_fixed_dim   #c9bfff;
@define-color on_primary_fixed    #1a0162;
@define-color on_primary_fixed_variant #47398e;

@define-color secondary           #c9c1ea;
@define-color secondary_container #4a4567;
@define-color on_secondary        #312c4c;
@define-color on_secondary_container #e7e0ff;

@define-color tertiary            #ffade0;
@define-color tertiary_container  #d67cb7;
@define-color on_tertiary         #591048;
@define-color on_tertiary_container #1a0013;

@define-color error               #ffb4ab;
@define-color on_error            #690005;
@define-color error_container     #93000a;
@define-color on_error_container  #ffdad6;

@define-color outline             #938f9c;
@define-color outline_variant     #484551;

@define-color inverse_surface     #e5e1e9;
@define-color inverse_on_surface  #312f36;
@define-color inverse_primary     #5f52a7;

@define-color shadow              #000000;
@define-color scrim               #000000;
@define-color surface_tint        #c9bfff;

/* Bonus: light/dark specific (great for mixed mode support or fallbacks) */
@define-color primary_light       #5f52a7;
@define-color primary_dark        #c9bfff;
