@define-color background          #131314;
@define-color on_background       #e4e2e2;

@define-color surface             #131314;
@define-color surface_dim         #131314;
@define-color surface_bright      #39393a;
@define-color surface_container_lowest #0e0e0f;
@define-color surface_container_low   #1b1b1c;
@define-color surface_container       #1f1f20;
@define-color surface_container_high  #2a2a2b;
@define-color surface_container_highest #353535;

@define-color primary             #bec7d5;
@define-color primary_container   #404954;
@define-color on_primary          #28313c;
@define-color on_primary_container #dae3f1;
@define-color primary_fixed       #dae3f1;
@define-color primary_fixed_dim   #bec7d5;
@define-color on_primary_fixed    #131c26;
@define-color on_primary_fixed_variant #3f4853;

@define-color secondary           #c4c6cc;
@define-color secondary_container #44474c;
@define-color on_secondary        #2d3135;
@define-color on_secondary_container #dee0e6;

@define-color tertiary            #d3c1d1;
@define-color tertiary_container  #514451;
@define-color on_tertiary         #382d39;
@define-color on_tertiary_container #f0dded;

@define-color error               #ffb4ab;
@define-color on_error            #690005;
@define-color error_container     #93000a;
@define-color on_error_container  #ffdad6;

@define-color outline             #8e9196;
@define-color outline_variant     #44474b;

@define-color inverse_surface     #e4e2e2;
@define-color inverse_on_surface  #303031;
@define-color inverse_primary     #565f6b;

@define-color shadow              #000000;
@define-color scrim               #000000;
@define-color surface_tint        #bec7d5;

/* Bonus: light/dark specific (great for mixed mode support or fallbacks) */
@define-color primary_light       #2a333d;
@define-color primary_dark        #bec7d5;
