@define-color background          #131313;
@define-color on_background       #e4e2e1;

@define-color surface             #131313;
@define-color surface_dim         #131313;
@define-color surface_bright      #393939;
@define-color surface_container_lowest #0d0e0e;
@define-color surface_container_low   #1b1c1c;
@define-color surface_container       #1f2020;
@define-color surface_container_high  #292a2a;
@define-color surface_container_highest #343535;

@define-color primary             #b6cacb;
@define-color primary_container   #394c4d;
@define-color on_primary          #213435;
@define-color on_primary_container #d2e7e8;
@define-color primary_fixed       #d1e7e7;
@define-color primary_fixed_dim   #b6cacb;
@define-color on_primary_fixed    #0b1e20;
@define-color on_primary_fixed_variant #374a4b;

@define-color secondary           #c0c8c8;
@define-color secondary_container #434a4b;
@define-color on_secondary        #2a3232;
@define-color on_secondary_container #dee5e5;

@define-color tertiary            #cbc3d7;
@define-color tertiary_container  #4b4656;
@define-color on_tertiary         #332e3d;
@define-color on_tertiary_container #e8dff4;

@define-color error               #ffb4ab;
@define-color on_error            #690005;
@define-color error_container     #93000a;
@define-color on_error_container  #ffdad6;

@define-color outline             #8c9292;
@define-color outline_variant     #424848;

@define-color inverse_surface     #e4e2e1;
@define-color inverse_on_surface  #303030;
@define-color inverse_primary     #4f6263;

@define-color shadow              #000000;
@define-color scrim               #000000;
@define-color surface_tint        #b6cacb;

/* Bonus: light/dark specific (great for mixed mode support or fallbacks) */
@define-color primary_light       #233536;
@define-color primary_dark        #b6cacb;
