@import "colors.css"; /* or the full path if placed elsewhere: url("colors.css"); */

* {
    font-family: Cinzel;
    border-radius: 12px;
    font-size: 14px;
    padding: 0px;
    background: @background;
    color: @on_surface;
}

window#waybar {
    background-color: @base01;
    border-bottom: 1px solid #181825;
    border-radius: 50px;
    transition-property: background-color;
    color: @base02;
}

#battery,
#backlight,
#network,
#clock,
#custom-applauncher,
#pulseaudio {
    margin: 6px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 5px;
    color: @surface;

    border-style: none;
    transition-duration: 120ms;
}

#clock {
    margin-right: 6px;
}
